.blog-post {

    width: 100%;

    .post-nav {
        border-top: 1px solid var(--border-color-md);
        border-bottom: 1px solid var(--border-color-md);
    }

    .post-tags {
        padding-bottom: 1rem;
    }

    .disqus-embed {
        padding-top: 2rem;
        margin-top: 1rem;
        border-top: 1px solid var(--border-color-md);
    }

    @media (min-width: 992px) {

        .post-image {
            max-height: 400px;
        }

    }

}

.post-content {
    .post-image {
        border: 1px solid var(--border-color-md);
        border-radius: 3px;
    }

    a:has(> .post-image) {
        display: block;
        margin: 1.5rem 0;
    }

    // Paragraphs containing multiple side-by-side images
    p:has(> a > img) {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        align-items: flex-start;
        margin: 1.5rem 0;

        a:has(> .post-image) {
            margin: 0;
        }
    }
}


.blog-project-embed {
    border: 1px solid var(--border-color-md);

    img {
        max-height: 64px;
    }

}